<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.restservice.mapper.InventoryMapper">
    <insert id="insertOrQuery" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO inventory  (item, full_name, vendor, catalog )  VALUES  ( #{item}, #{fullName}, #{vendor}, #{catalog} )
    </insert>


    <select id="selectAllOrder" resultType="com.example.restservice.entity.Inventory">
        SELECT *
        FROM `inventory`
    </select>

    <select id="selectInventory"
            parameterType="com.example.restservice.entity.Inventory"
            resultType="com.example.restservice.entity.Inventory">
        select *
        from `inventory`
        where 1=1
        <if test="item != null">
            and item like concat('%', #{item}, '%')
        </if>
    </select>
</mapper>
