<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.restservice.mapper.OrderMapper">
    <insert id="insertOrder">
        INSERT INTO `order`  (distributor,  unit, qty, unit_price,   date_request,   link, inventory_id )  VALUES  ( #{distributor},  #{unit}, #{qty}, #{unitPrice}, #{dateRequest},   #{link},   #{inventoryId})
    </insert>


    <select id="selectAllOrder" resultType="com.example.restservice.entity.Order">
        SELECT *
        FROM `order`
    </select>

    <select id="selectOrdersByInventoryId"
            parameterType="java.lang.Long"
            resultType="com.example.restservice.entity.Order">
        select *
        from `order`
        where 1=1
        <if test="inventoryId != null">
            and inventory_id = #{inventoryId}
        </if>
    </select>
</mapper>
